<div class="nav-menu">
    <ul>
        <li><a href=""><i class="fas fa-home fa-2x"></i></a></li>
        <li><a href=""><i class="fas fa-user-friends fa-2x"></i></a></li>
        <li><a href=""><i class="fas fa-comments fa-2x"></i></a></li>
        <li style="float: right"><a href="/users/logout"><i class="fas fa-sign-out-alt fa-2x"></i></a></li>
    </ul>
</div>

<section class="page feed-container">
    <div class="grid-3">
        <div class="item">
            <a href="/profile">
                <i class="fas fa-user"></i> {{ name }}
            </a>
        </div>
        <div class="item">
            <form action="/feed" method="post">
                <textarea name="text" id="" cols="80" rows="5"
                    placeholder="What's on your mind, {{ name }}?"></textarea>
                <button type="submit" class="btn-light">Post</button>
                <br>
            </form>
            <div class="posts">
                {{#each post }}
                <div class="post">
                    <h5 class="user"><a href="/users/{{this.postedBy}}">{{this.name}} </a>
                        <p class="date">{{this.date}}</p>
                    </h5>
                    <a class="posttext" href="/posts/{{this._id}}">
                        <p class="text">{{this.text}}</p>
                    </a>
                </div>
                {{/each}}
            </div>
        </div>
        <div class="item">
            <p>Lorem, ipsum.</p>
        </div>
    </div>
</section>