<div class="nav-menu">
    <ul>
        <li><a href="/feed"><i class="fas fa-home fa-2x"></i></a></li>
        <li><a href=""><i class="fas fa-user-friends fa-2x"></i></a></li>
        <li><a href=""><i class="fas fa-comments fa-2x"></i></a></li>
        <li style="float: right"><a href="/users/logout"><i class="fas fa-sign-out-alt fa-2x"></i></a></li>
    </ul>
</div>

<div class="post">
    <h5 class="user"><a href="/users/{{post.postedBy}}">{{post.name}}</a></h5>
    <p class="posttdate">{{formatTime post.date "DD MMMM h:mm A"}}</p>
    <p class="text">{{post.text}}</p>
</div>

<div class="scroll container">
    {{#each comment}}
    <div class="comments">
        <h5 class="user"><a href="/users/{{this.postedBy}}">{{this.name}}</a></h5>
        <p class="postdate">{{formatTime this.date "DD MMMM h:mm A"}}</p>
        <p class="text">{{this.text}}</p>
    </div>
    {{/each}}
</div>

<div class="container">
    <p>Comment something (It doesn't have to be nice).</p>
    <form action="/posts/{{post._id}}" method="post">
        <textarea name="text" cols="80" rows="5"></textarea>
        <button type="submit" class="btn-light">Post</button>
    </form>
</div>